body {
  /*background : #111111;*/
	overflow: hidden;
	background: url(images/cover70.png) 100%,url(images/bg.jpg);
}
.keepcentered {
  width : 75%;
  height : 50%;
  margin-left : 10%;
  margin-right : auto;
  margin-top: 50px;
  font-weight : 100;
}
body {
  font-family: 'Electrolize', sans-serif;
  font-style : normal;
  color : #af865a;
  margin : 5px;
}
div:hover {
}
input, textarea, select {
	height: 30px;
	font-size: 16px;
	background-color: transparent;
  border: 2px solid #8c5b3e;
  color: #8c5b3e;
	overflow: hidden;
  font-family: 'Electrolize', sans-serif;
	text-align: left;
	padding-left: 10px;
}
td, tr ,th{
  width: 15%;
	text-align: center;
	border-radius: 0px;
	border-padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
th {
  font-weight: bold;
}
a {
  font-family: 'Electrolize', sans-serif;
  /*font-weight: 100;*/
  color : #a8e9ca;
}
a:hover{
  color: #fff;
}
a:link {
  text-decoration : none;
  text-shadow: 0px 0px 0px #000;
}
div.wrapper {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
div.inputs {
	text-align: center;
  color : #a8e9ca;
	font-size:32px;
  font-family: 'Electrolize', sans-serif;
}
::-webkit-input-placeholder {
	color: #a8e9ca;
}
div#time { 
	font-size: 96px;
	text-align: center;
}
textarea#noteText {
	margin-top: 10px;
	height: 40%; width: 75%;
	margin-right: auto;
	float: center;
  font-family: 'Electrolize', sans-serif;
}
