body {
  /*background : #262626;*/
	background: url(images/bg.png);
	/*background: url(images/cover70.png) 100%,url(images/bg.png);*/
}
.keepcentered {
  width : 1000px;
  height : 400px;
  margin-left : auto;
  margin-right : auto;
  margin-top: 200px;
  font-weight : 100;
}
body {
  font-family: 'Electrolize', sans-serif;
  font-style : normal;
  color : #8c5b3e;
  margin : 5px;
}
input, textarea, select {
  /*background-color: #262626;*/
	background-color: transparent;
  border: 1px solid #8c5b3e;
  color : #8c5b3e;
  font-family: 'Electrolize', sans-serif;
  padding: 10px;
}
td, tr {
  width: 15%;
  text-align: center;
}
th {
  width: 15%;
  font-weight: normal;
  text-align: center;
}
table input {
  width: 100%;
}
a {
  font-family: 'Roboto', sans-serif;
  /*font-weight: 100;*/
  color : #ffffff;
}
a:hover{
  color: #eee;
}
a:link {
  text-decoration : none;
  text-shadow: 0px 0px 0px #000;
}
input#search {
  width: 100%;
  font-size: 18px;
}
div#time { font-size: 72px; }
div.toolbar { 
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
textarea#noteText {height: 125px; width: 300px;}
