html {
  background: #111;
}
div.container {
  width: 90%;
}
body {
  font-family: 'Share Tech Mono', monospace !important;
}
h1 {
  color: #ddd;
}
b {
  color: #ddd;
}
h4 {
  font-size: 1.2em;
  color: #ddd;
}
div.columns {
  border: 2px solid #333;
}
h4.title {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}
div.title-wrapper {
  width: 200px;
  display: inline-block;
}
table {
  color: #ddd;
  border-spacing: 2px;
  word-break: break-word;
  table-layout: fixed;
}
table.underlined {
  border-color: #333;
  word-break: break-word;
  table-layout: fixed;
  width: 100%;
}
th, td {
  border: 0px;
  padding: 4px;
  padding-left: 4px !important;
}
table.underlined th, table.underlined td {
  /*border-left: 2px solid #333;
  border-top: 2px solid #333;*/
  border-bottom: 2px solid #333;
}
table.link-nav th, table.link-nav td {
  padding: 5px;
  text-align: center;
}
div.album-art {
  float: right;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
a:hover {
  color: #e84f4f !important;
  border-color: #e84f4f !important;
}
a.button {
  color: #ddd;
  text-transform: none;
  text-decoration: none;
  font-size: 0.7em;
  border-radius: 0px;
  border: 1px solid #333;
}
