<div class="title-wrapper">
  <h4 class="title">CPU Information</h4>
</div>
  <table class="underlined">
    <colgroup>
      <col span="1" style="width: 30%">
      <col span="1" style="width: 70%">
    </colgroup>
    <thead>
      <tr>
        <th>Statistic</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% if cpu_info.model %}
      <tr>
        <td>Model</td>
        <td>{{ cpu_info.model }}</td>
      </tr>
      {% endif %}
      {% if cpu_info.name %}
      <tr>
        <td>Name</td>
        <td>{{ cpu_info.name }}</td>
      </tr>
      {% endif %}
      {% if cpu_info.speed %}
      <tr>
        <td>BogoMIPS</td>
        <td>{{ cpu_info.speed }} MIPS</td>
      </tr>
      {% endif %}
      {% if cpu_info.proc_count %}
      <tr>
        <td>Processor Count</td>
        <td>{{ cpu_info.proc_count }} cores</td>
      </tr>
      {% endif %}
      {% if cpu_info.cache %}
      <tr>
        <td>Cache Size</td>
        <td>{{ cpu_info.cache }}/core</td>
      </tr>
      {% endif %}
      {% if cpu_info.address %}
      <tr>
        <td>Address Sizes</td>
        <td>{{ cpu_info.address }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
