<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Tab</title>
  <meta name="description" content="New Tab page">
  <meta name="author" content="delucks">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <script src="http://www.google.com/jsapi"></script>
  <script src="ck/static/chartkick.js"></script>
</head>
<body>
  <div class="container">
    {% block header %}
    <div class="row">
      <h1>Welcome {{ user }}</h1>
      <h4>You're using your "{{ host }}" deck. On pageload, it was {{ time }}</h4>
      <h4>Current load avg: {{ overview }}</h4>
    </div>
    {% endblock header %}
    {% block content %}
    <div class="row">
      <div class="six columns">
        <div class="title-wrapper">
          <h4 class="title">Memory Average</h4>
        </div>
        {% pie_chart mem_data with id="mem" height="250px" library=settings %}
      </div>
      <div class="six columns">
        <div class="title-wrapper">
          <h4 class="title">Links</h4>
        </div>
        <table class="link-nav" style="margin: 0 auto;">
          <tr>
            <td><a class="button" target="_blank" href="https://mail.google.com">gmail</a></td>
            <td><a class="button" target="_blank" href="https://trello.com/b/NOAwkt50/work">trello</a></td>
          </tr>
          <tr>
            <td><a class="button" target="_blank" href="https://lobste.rs">lobste.rs</a></td>
            <td><a class="button" target="_blank" href="https://news.ycombinator.com">hacker news</a></td>
          </tr>
          <tr>
            <td><a class="button" target="_blank" href="https://www.reddit.com/me/m/foo">reddit/foo</a></td>
            <td><a class="button" target="_blank" href="https://www.reddit.com/me/m/dumb_and_funny">reddit/funny</a></td>
          </tr>
          <tr>
            <td><a class="button" target="_blank" href="https://172.16.12.138:9392/login/login.html">gsad</a></td>
            <td><a class="button" target="_blank" href="http://192.168.1.100">kibana</a></td>
          </tr>
          <tr>
            <td><a class="button" target="_blank" href="https://svbtle.com">svbtle</a></td>
            <td><a class="button" target="_blank" href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=19711">wunderground</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="title-wrapper">
          <h4 class="title">Load Average</h4>
        </div>
        {% area_chart load_data with height="200px" id="load" library=settings %}
      </div>
    </div>
    <div class="row">
      {% if music %}
      <div class="six columns">
        <div class="album-art">
          <img class="album-art" src="{{ music[3] }}"/>
        </div>
        <div class="title-wrapper">
          <h4 class="title">Now Playing</h4>
        </div>
          <table class="underlined">
            <colgroup>
              <col span="1" style="width: 30%">
              <col span="1" style="width: 70%">
            </colgroup>
            <tbody>
              <tr>
                <td>Artist</td>
                <td>{{ music[2] }}</td>
              </tr>
              <tr>
                <td>Album</td>
                <td>{{ music[0] }}</td>
              </tr>
              <tr>
                <td>Song</td>
                <td>{{ music[1] }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      {% else %}
      <div class="six columns">
        <div class="title-wrapper">
          <h4 class="title">TBD</h4>
        </div>
      </div>
      {% endif %}
      {% if cpu_info %}
      <div class="six columns">
        <div class="title-wrapper">
          <h4 class="title">CPU Information</h4>
        </div>
          <table class="underlined">
            <colgroup>
              <col span="1" style="width: 30%">
              <col span="1" style="width: 70%">
            </colgroup>
            <thead>
              <tr>
                <th>Statistic</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {% if cpu_info.model %}
              <tr>
                <td>Model</td>
                <td>{{ cpu_info.model }}</td>
              </tr>
              {% endif %}
              {% if cpu_info.name %}
              <tr>
                <td>Name</td>
                <td>{{ cpu_info.name }}</td>
              </tr>
              {% endif %}
              {% if cpu_info.speed %}
              <tr>
                <td>BogoMIPS</td>
                <td>{{ cpu_info.speed }} MIPS</td>
              </tr>
              {% endif %}
              {% if cpu_info.proc_count %}
              <tr>
                <td>Processor Count</td>
                <td>{{ cpu_info.proc_count }} cores</td>
              </tr>
              {% endif %}
              {% if cpu_info.cache %}
              <tr>
                <td>Cache Size</td>
                <td>{{ cpu_info.cache }}/core</td>
              </tr>
              {% endif %}
              {% if cpu_info.address %}
              <tr>
                <td>Address Sizes</td>
                <td>{{ cpu_info.address }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
      </div>
      {% endif %}
    </div>
    {% endblock content %}
  </div> <!-- /container -->
</body>
</html>
