<div class="title-wrapper">
  <h4 class="title">Links</h4>
</div>
<table class="link-nav" style="margin: 0 auto;">
  <tr>
    <td><a class="button" target="_blank" href="https://mail.google.com">gmail</a></td>
    <td><a class="button" target="_blank" href="https://trello.com/b/NOAwkt50/work">trello</a></td>
  </tr>
  <tr>
    <td><a class="button" target="_blank" href="https://openvas.kali.internal:9392/login/login.html">gsad</a></td>
    <td><a class="button" target="_blank" href="http://reference.internal/">reference</a></td>
  </tr>
  <tr>
    <td><a class="button" target="_blank" href="https://lobste.rs">lobste.rs</a></td>
    <td><a class="button" target="_blank" href="https://news.ycombinator.com">hacker news</a></td>
  </tr>
  <tr>
    <td><a class="button" target="_blank" href="https://www.reddit.com/me/m/foo">reddit/foo</a></td>
    <td><a class="button" target="_blank" href="https://www.reddit.com/me/m/dumb_and_funny">reddit/funny</a></td>
  </tr>
  <tr>
    <td><a class="button" target="_blank" href="https://svbtle.com">svbtle</a></td>
    <td><a class="button" target="_blank" href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=19711">wunderground</a></td>
  </tr>
</table>
