<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Tab</title>
  <meta name="description" content="New Tab page">
  <meta name="author" content="delucks">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <script src="http://www.google.com/jsapi"></script>
  <script src="ck/static/chartkick.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="album-art">
          <img class="album-art" src="{{ music[3] }}"/>
        </div>
        <div class="title-wrapper">
          <h4 class="title">Now Playing</h4>
        </div>
          <table>
            <tr>
              <td>Artist</td>
              <td>{{ music[0] }}</td>
            </tr>
            <tr>
              <td>Album</td>
              <td>{{ music[1] }}</td>
            </tr>
            <tr>
              <td>Song</td>
              <td>{{ music[2] }}</td>
            </tr>
          </table>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="title-wrapper">
          <h4 class="title">Memory Average</h4>
        </div>
        {% pie_chart mem_data with id="mem" height="300px" library=settings %}
      </div>
      <div class="six columns">
        <div class="title-wrapper">
          <h4 class="title">CPU Information</h4>
        </div>
          <table>
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Model</td>
              <td>{{ cpu_info.model }}</td>
            </tr>
            <tr>
              <td>BogoMIPS</td>
              <td>{{ cpu_info.speed }} MIPS</td>
            </tr>
            <tr>
              <td>Processor Count</td>
              <td>{{ cpu_info.proc_count }} cores</td>
            </tr>
            <tr>
              <td>Cache Size</td>
              <td>{{ cpu_info.cache }}/core</td>
            </tr>
            <tr>
              <td>Address Sizes</td>
              <td>{{ cpu_info.address }}</td>
            </tr>
          </table>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="title-wrapper">
          <h4 class="title">Load Average</h4>
        </div>
        {% area_chart load_data with height="500px" id="load" library=settings %}
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>
